.favorites-container {
	display: flex;
	flex-direction: row;
	border-style: none;
}

.favorites{
	display: flex;
	padding: 15px;
	justify-content: space-between;
	border-style: none;
	gap: 15px;
}

.favorites img{
background-color: white;
border-style: none;
object-fit: cover;
background-color: white;
}

.name-link h1{
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
	width: 370px;
}

.favorites p{
	margin-top: 5px;
	width: fit-content;
	display: flex;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

.hi{
	margin-left: 15px;
}

@media screen and (max-width: 768px) {

	.hi{
		margin: -25% -10% 22% -7%;

	}

	.favorites{
		flex-direction: column;
		scale: 80%;
	}
}