.recipe-container {
	/* display: flex; */
	display: grid;
	grid-template-columns: 400px 400px 400px 400px;
	justify-content: space-evenly;

}

.recipe-container img {
	background-color: white;
	object-fit: cover;
	border-style: unset;
}

.recipe-container div {
	margin-top: 10px;
	text-align: center;
	border-style: none;
}

.recipe-container a {
	text-decoration: none;
	
	/* width: fit-content; */
}

.recipe-container a:visited {
	color: inherit;
}

.recipe-container h1 {
	width: fit-content;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	width: 380px;
	margin-top: 5px;
}

.name-link {
	display: inline-block;
}