.card-container {
	width: 400px;
	min-height: 400px;
}

.img-card {
	width: 400px;
	height: 400px;
	position: relative;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	border: 1px solid black;
	flex-direction: column;
	overflow: hidden;
	border-radius: 10px;
	/* margin-right: 100px; */
}

.recipe-card:hover {
	background-color: gray;
}

.img-card img {
	/* width: 500px; */
	/* height: 500px; */
	width: 400px;
	height: 400px;
	/* object-fit: contain; */
	object-fit: cover;
	/* object-fit: fill; */
}

.favorite-button {
	position: absolute;
	font-size: 40px;
	right: 10px;
	z-index: 999;
	color: rgb(255, 64, 96);
}

.favorite-button input {
	z-index: 999;
}

/* .test-star {
	color: red;
} */

@media screen and (max-width: 431px) {
	.card-container{
		width: 100px;
		height: 100px;
		justify-content: space-between;
	}
	.img-card {
		width: 150px;
		height: 150px;
	}
}