.recipe-data ul,
.recipe-data ol {
	margin-left: 1.5rem;
}

.recipe-header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 40px;
}

.serv-cal-star {
	display: flex;
	align-items: flex-end;
	/* margin: 0px 10px; */
}

/* Applies to direct children of .serv-cal-star class */
.serv-cal-star > * {
	margin: 0px 10px;
}

.image-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
.image-buttons img {
	width: 800px;
	object-fit: contain;
	border-radius: 15px;
}

.image-buttons button:hover {
	cursor: pointer;
}

.image-buttons button {
	margin: 10px 40px;
	padding: 10px;
	border-radius: 4px;

}

.recipe-data-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.recipe-ingredients,
.recipe-instructions {
	border: 1px solid black;
	margin: 0px 10px;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	background-color: white;
}

.recipe-ingredients h2,
.recipe-instructions h2 {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	font-size: 32px;
}

.recipe-ingredients ul li,
.recipe-instructions ol li {
	margin: 30px 0px;
	font-size: 21px;
}

.ingredients-instruction-container {
	display: flex;
}

.review-section {
	display: flex;
	justify-content: center;
}

.review-container {
	width: 800px;
}

.review-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.review-header h2 {
	font-size: 2em;
}

.review-header button {
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
}

.review-container {
	display: flex;
	flex-direction: column;
}

.review-card {
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0 0 2px;
	padding: 10px;
	margin: 30px 0px;
}

.review-form {
	/* margin-bottom: 20px; */
	display: none;
}

.review-form-visible {
	/* margin-bottom: 20px; */
	display: visible;
}

.review-form input {
	margin: 10px;
}

.review-form-visible button{
	padding: 5px 10px;
	margin-bottom: 15px;
}