input {
	height: 30px;
	border-radius: 5px;
	padding: 0px 10px;
}

button {
	border-style: none;
	border-radius: 4px;
	background-color: lightgrey;
	padding: 0 5px;
}

.searchbar-form input {
	width: 25%;
	margin: 0px 5px;
}

.best-recipe-container {
	display: grid;
	grid-template-columns: 400px 400px 400px 400px;
	justify-content: space-evenly;
	gap: 10px;
}

.recipe-card-container {
	margin-bottom: 10px;
}

.home-title {
	margin-left: 55px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: fit-content;
	border-bottom: 1px solid black;
}
