.entirepage {
	display: flex;
}
.test {
	margin-left: 15px;
	width: 100vw;
}

.name-and-edit {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
	margin-top: 5px;
}

.name-and-edit button {
	margin: 10px;
	padding: 5px 10px;
	border-radius: 4px;
}

.card{
    margin: 1rem;
	gap: 15px;
}

.card img{
	object-fit: cover;
    background-color: white;
}

.img-card{
	border-style: none;
}

.sidebar a{
    text-decoration: none;
}

@media screen and (max-width: 431px) {
	.test{
		flex-direction: column;
		scale: 80%;
		margin: -20% 25% 0 -5%;
	}
    
	.recipe-form {
		width: auto;
	}

	#side-item{
		font-size: 0.3rem;
	}

}